.container-fluid
  background url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Blank_Mexico_map%2C_no_States.svg/2000px-Blank_Mexico_map%2C_no_States.svg.png") no-repeat
  background-size 550px
  background-position center center
  margin-left auto
  margin-right auto
  width 960px

.header
  padding-top 60px
  padding-bottom 60px
  text-align center
  margin-top 30px
  margin-bottom 30px

h1
  color #363135
  font-size 3rem
  font-family Change Calibre,"Helvetica Neue",Helvetica,Arial,Tahoma,sans-serif !important
  font-weight bold


.btn
  font-family Change Calibre,"Helvetica Neue",Helvetica,Arial,Tahoma,sans-serif !important
  border-color none
  background #ec2c22
  color white !important
  padding-left 1.25rem
  padding-right 1.25rem
  padding-top 1rem
  padding-bottom 1rem
  text-align center
  text-transform uppercase
  font-size 1.6rem
  font-weight 800
  letter-spacing 0.04rem
  margin-top 25px
  margin-bottom 25px
  text-decoration none

.btn:hover
  background-color black
  color white
