footer
  background-color #F6F3F6
  padding 10px 0 0 0
  .contenido
    .col-sm-6
      padding 0 10px
      width 480px
      box-sizing border-box
      float left
      .col-xs-6
        width 230px
        ul
          list-style-type none
          .menu
            margin 24px 0 10px 0
            text-transform uppercase
            padding 4px 0
            color rgb(115,114,115)
            font-family Change Calibre,"Helvetica Neue",Helvetica,Arial,Tahoma,sans-serif
            h5
              font-size 12.8px
          .listas
            text-transform none
            color rgb(54, 49, 53)
            font-size 16px
            a
              color rgb(54, 49, 53)
            a:hover
              text-decoration none
              color rgb(236, 44, 34)
  .bottom
    padding 0 20px 10px 0
    hr
      border-bottom solid rgb(115,114,115) 1px
      width 60%
    ul
      li:first-child
        font-weight bold
      li
        font-size 12.8px
        color rgb(115, 114, 115)
        a
          color rgb(115, 114, 115)
        a:hover
          text-decoration none
          color rgb(236, 44, 34)
    .seleccionador
      float left
