<footer class="container-fluid">
  <div class="row contenido">
    <div class="col-xs-12 col-sm-6">
      <div class="row justify-content-end">
        <div class="col-xs-6">
          <ul>
            <li class="menu"><h5>acerca de</h5></li>
            <li class="listas"><a href="">Quiénes somos</a></li>
            <li class="listas"><a href="">Impacto</a></li>
            <li class="listas"><a href="">Vacantes</a></li>
            <li class="listas"><a href="">Equipo</a></li>
          </ul>

        </div>

        <div class="col-xs-6">
          <ul>
            <li class="menu"><h5>comunidad</h5></li>
            <li class="listas"><a href="">Blog</a></li>
            <li class="listas"><a href="">Prensa</a></li>
          </ul>

      </div>


      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="row justify-content-start">
        <div class="col-xs-6">
          <ul>
            <li class="menu"><h5>ayuda</h5></li>
            <li class="listas"><a href="">Ayuda</a></li>
            <li class="listas"><a href="">Guías</a></li>
            <li class="listas"><a href="">Privacidad</a></li>
            <li class="listas"><a href="">Políticas</a></li>
          </ul>
        </div>
        <div class="col-xs-6">
          <ul>
            <li class="menu"><h5>Redes sociales</h5></li>
            <li class="listas"><a href="">Twitter</a></li>
            <li class="listas"><a href="">Facebook</a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>
  <div class="row bottom">
    <hr>
    <div class="col-xs-12 col-sm-6 d-flex justify-content-end">
      <ul class="list-inline">
        <li class="list-inline-item">    © 2017, Change.org, Inc.</li>
        <li class="list-inline-item"><a href="">Certificado de B-Corporation</a></li>
      </ul>
    </div>
    <div class="col-sm-hidden col-xs-hidden d-flex justify-content-start seleccionador">
      <select class="custom-select" name="">
        <option value="de-DE" data-reactid="92">Deutsch</option>
        <option value="en-AU" data-reactid="93">English (Australia)</option>
        <option value="en-CA" data-reactid="94">English (Canada)</option>
        <option value="en-IN" data-reactid="95">English (India)</option>
        <option value="en-GB" data-reactid="96">English (United Kingdom)</option>
        <option value="en-US" data-reactid="97">English (United States)</option>
        <option value="es-AR" data-reactid="98">Español (Argentina)</option>
        <option value="es-ES" data-reactid="99">Español (España)</option>
        <option selected="" value="es-419" data-reactid="100">Español (Latinoamérica)</option>
        <option value="fr-FR" data-reactid="101">Français</option>
        <option value="hi-IN" data-reactid="102">हिन्दी</option>
        <option value="id-ID" data-reactid="103">Bahasa Indonesia</option>
        <option value="it-IT" data-reactid="104">Italiano</option>
        <option value="ja-JP" data-reactid="105">日本語</option>
        <option value="pt-BR" data-reactid="106">Português (Brasil)</option>
        <option value="ru-RU" data-reactid="107">Русский</option>
        <option value="th-TH" data-reactid="108">ภาษาไทย</option>
        <option value="tr-TR" data-reactid="109">Türkçe</option>

      </select>

    </div>

  </div>
</footer>
