body
    padding-top 20px

#custom_carousel
    .item
        color #000
        background-color #eee
        padding 20px 0
    .controls
        overflow-x auto
        overflow-y hidden
        padding 0
        margin 0
        white-space nowrap
        text-align center
        position relative
        background #ddd
        li
            display table-cell
            width 1%
            max-width 90px
            &.active
                background-color #eee
                border-top 3px solid orange
        a
            small
                overflow hidden
                display block
                font-size 10px
                margin-top 5px
                font-weight bold