.wrap-gallery-article
    margin-bottom 1rem
    max-width 800px
    .list-thumb-gallery
        padding 0
        list-style-type none
        padding-top 1rem
        list-style-type none
        & > li
            margin-bottom 1rem