<!-- About -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <ul class="timeline">
        <li>
          <div class="timeline-image">
            <img class="" src="https://s-media-cache-ak0.pinimg.com/originals/41/8c/3c/418c3cdb8fe52098e025e15c76d46eff.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="subheading">{{title}}</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">#{{funcionario}}, #{{institucion}}, #{{partido}}</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="" src="https://s-media-cache-ak0.pinimg.com/originals/41/8c/3c/418c3cdb8fe52098e025e15c76d46eff.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="subheading">{{title}}</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">#{{funcionario}}, #{{institucion}}, #{{partido}}</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-image">
            <img class="" src="https://s-media-cache-ak0.pinimg.com/originals/41/8c/3c/418c3cdb8fe52098e025e15c76d46eff.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="subheading">{{title}}</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">#{{funcionario}}, #{{institucion}}, #{{partido}}</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <h4>19
              <br>SEPTIEMBRE
              <br>2017
            </h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
